/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 10, 2016, 7:18:21 AM
    Author     : Atta_Ur_Rehman_PC
*/
*
{
    position: relative;
    font-family:raleway;
    
    
}
.select-dropdown
{
    z-index:0 ;
}
.caret
{
    display: none;
}

.img-thumbnail
{
    border:10px #38d9f0 solid;
}
.pagination  li a
{
    font-size:2.2rem;
}
.waves-effect > img
{
  width:10%;
    height: 30%;
}
.btn-floating,.btn-floating:hover,.btn-floating:active,.btn-floating:after

{
    
    background-color: #38d9f0;
    
}
.card
{
  max-height: 5000px;
}
a:hover
{
    text-decoration: none;
}


.navbar-inverse a
{
    color:#f9fbe7;
}
.navbar-inverse a:hover,.navbar-inverse a:active

{
    text-decoration: none;
    color:#03a9f4;
}

#translator ul{
    margin:2%;
}

#translator ul li 
{
    list-style-type: none;
    display: inline-block;
   margin-right:5px;
    
}
.page-header
{
  margin-top: 0px;
  border-bottom: none;
}

.panel-default
{
   border-right: 2px solid black;

}
.panel-default > .panel-heading
{
    border-top: 3px solid #03a9f4;
    
}
.card .card-title {
    font-size: 16px;
}
.logo a img
{
    
    margin-top: 1%;
  
}

article.sigup_header a h6,.login_header a h6{
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.timeopen,.logo,.contact,.email,.searchbar{
    min-height: 90px;
    max-height: 90px;
}

.contact
{
    background-image: url("../images/telephone.png"),url("../images/dottedline.png");
    background-repeat: no-repeat;
    background-position: top left,right;
    cursor:default;
    
}
.contact,.email p{
    font-weight: bold;
}
.timeopen
{
   
    background-image: url("../images/clock.png"),url("../images/dottedline.png");
    background-repeat: no-repeat;
    background-position: top left,right;
    
}
.email
{
    background-image: url("../images/email.png"),url("../images/dottedline.png");
    background-repeat: no-repeat;
    background-position: top left,right;
    cursor: default;
}
.searchbar input[type=search],.searchbar input[type=search]:active
{
   font-size: 18px;
 border-bottom-color: #38d9f0;
}
.searchbar .input-group{
margin-top: 10%;
}


.btn,.btn:active,.btn:after,.btn:hover,.btn:default.btn:focus
{
    background-color: #38d9f0;
   
}
.navbar-toggle
{
    border: none;
    
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color:transparent;
}

.nav li a
{
    color:black;
text-decoration: none;

    background-color: transparent;
}
.mini a
{
    color: yellow;
   margin-left: 10px;
    
}
.nav li a:hover,.nav  li a:focus
{
    color:#38d9f0;
text-decoration: none;

    background-color: transparent;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color:transparent;
    
}

span.badge
{
    color:#f9fbe7;
    text-transform: uppercase;
  margin-top: -56px;
 right: 0px;
 border-radius: 0px;
    background-color:#03a9f4;
}
.mega-menu
{
    
   width: 650px;
    height: auto;
    margin-left: 0px;
    padding-left: 40px;
    
    
}

.navbar-collapse.collapse
{
    overflow: hidden;
}
.nav .dropdown-menu
{
    margin-top: 20px;
}

 .dropdown-header
{
    margin-left: 0px;
    padding-left: 0px;
    font-size: 16px;
}
.line_space li{
    margin-top:  10px;
    }




